* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

p{
    font-size: 14px;
    font-weight: 100;
}

/* SECTION HEADER */
.header-container {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 1px 2px white;
    background-color: white;
}

.left-header {
    display: flex;
    align-items: center;
    min-width: 20%;
    padding: 10px 10px;
}

.small-logo {
    margin-right: 10px;
}

.left-header a,
.right-header a {
    text-decoration: none;
    color: black;
    padding: 27px 15px;
    position: relative;

}

.left-header a::after,
.right-header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: black; 
    transform: scaleX(0);

}

.left-header a:hover::after,
.right-header a:hover::after {
    transform: scaleX(1);
}


.right-header {
    min-width: 20%;
    padding: 5px 10px;
}


button {
    background-color: #0061ff;
    color: white;
    border: none;
    width: 60px;
    height: 30px;
}

button:hover{
    background-color: #2d7dfdec;
}

/* SECTION JUMBOTRON */
section {
    min-height: 450px;
    background-color: lightblue;
    padding-top: 1px;
    padding: 7% 15%;
    position: relative;
    margin-top: 60px;
}



.jumbo-columns {
    display: flex;

}


.text {
    max-width: 35%;

}

.jumbo-columns button {
    width: 180px;
    height: 35px;
    margin: 25px 0;

}

.fa-arrow-down {

    font-size: 40px;
    position: absolute;
    bottom: 0px;

}


.image .column {
    max-width: 75%;

}

.image-jumbo {
    width: 100%;
    margin-bottom: -200px;
}

h1 {
    font-size: 70px;
    font-weight: 999;
    margin-bottom: 40px;
}


/* SECTION PRICING AND PACKAGES */

:root {
    --border-colors: rgba(167, 167, 167, 0.637)  ;
}

.centered-container {
    margin: 150px 350px;


}


.pricing-container h2 {
    font-size: 32px;
    margin-bottom: 35px;

}

.radio-buttons {
    margin-bottom: 50px;
}

.radio-buttons .mensile {
    padding-right: 50px;

}



.packages {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 50px 0;
}



.packages .col {
    width: calc(100% / 3 - 30px);
    min-height: 400px;
    border: solid 0.5px var(--border-colors);

}

.singolo,
.gruppo {
    margin-right: 20px;
}


.top-box {
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 0.5px var(--border-colors);
}

.levels {
    padding: 20px 40px;
    position: relative;
}

.category,
.user,
.space,
.sharing,
.btn-try,
.purchase-now,
.silent-points {
    padding: 10px 0;
}


.per-tempo {
    color: grey;
    padding-bottom: 30px;
}

.space {

    line-height: 20px;
}


.small-line {
    width: 50px;
    text-indent: -9px;
    position: absolute;
    left: 32px;
    border-color: rgba(196, 196, 196, 0.281);
}

.purchase-now {
    padding: 70px 0 30px 0;
}

.purchase-now a:visited {
    color: blue;
}

.silent-points {
    padding-top: 30px;
}


.packages .levels button {
    width: 200px;
    height: 40px;
    margin: 10px 0;
    position: absolute;
    left: 30px;

}


.icons {
    text-indent: -9px;
    padding: 10px 0;
}

.levels p,
.category {
    text-indent: -9px;

}

.fa-check {
    color: blue;
}

/* SECTION ENTERPRISE */
.team {
    min-height: 100px;
    margin-bottom: 120px;
    border: solid 0.5px var(--border-colors) ;
    position: relative;
}

.btn-ufficio-vendita {
    position: absolute;
    top: 70px;
    right: 35px;
    width: 220px;
    height: 40px;

}

.team h3 {
    font-size: 30px;
    padding: 23px 0 15px 20px;
}

.team h4 {

    padding: 0 0 55px 20px;
}

.team .desc {
    padding: 0 0 20px 20px;
}


/* SECTION PARTNERS */
.partner {
    display: flex;
    margin-bottom: 120px;

}

.text-sec {

    padding: 50px;

}

.partner-img {
    width: 550px;
    height: 450px;

}

.partner h3 {
    padding-bottom: 20px;
}

.partner .desc {
    padding-bottom: 30px;
}

.btn-partner {
    border: solid 1px black;
    width: 160px;
    text-align: center;
    padding: 10px;
}


.dropbox-business{
    margin-bottom: 120px;
}

/* SECTION DROPBOX BUSINESS */

.oth-opr-columns {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

}

.dropbox-business h3{
    font-size: 40px;
    margin-bottom: 45px;
}

.oth-opr-columns h4{
    font-size: 25px;
    padding-bottom: 20px;
}

.oth-opr-columns .col {
    width: calc(100% / 3 - 14px);
    margin-bottom: 10px;
    padding: 15px;

}

.business-imgs {
    width: 100%;
}


.info-db h5 {
    padding-bottom: 50px;
    font-size: 40px;
}

.info-db a:visited {
    color: blue;
}

/* SECTOIN CLIENTS */

.clients {
    min-height: 600px;
    display: flex;
}

.box{
    background-color: rgb(248, 247, 247);
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    
}



.sub-box{
    width: calc(50%);
    text-align: center;
    position: relative;
    
}

.green{
    background-color: #a2d39b;
    border: solid 15px #c0d3bd;

}
.maroon{
    background-color: #60092b;

}
.lightblue{
    background-color:#0093ce  ;

}
.red{
    background-color:#ff1b1c;

}
.darkred{
    background-color: #d50120;

}
.skyblue{
    background-color:#b4d0e7 ;

}
.blue{
    background-color: #0d2481;

}
.yellow{
    background-color: #ffd830;

}

.clients-logos{
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.box.center{
    display: block;
    padding: 50px;
    position: relative;
    overflow-y: scroll;
}


.center img{
    width: 45%;
    padding-bottom: 20px;
}

.center .hr{
    position:absolute;
    width: 100px;
    left: 50px;
    top: 160px;
    border-color: rgba(196, 196, 196, 0.281);
    
}

.center .desc{
    margin: 50px 0;
}



/* SECTION INVITE  */
.invite {
    min-height: 300px;
    background-color: #b4d0e7;
}

.invite .sub-container{
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0px;
}

.invite h5{
    font-size: 35px;
    color: #60092b;
}

.invite button{
    width: 250px;
    height: 45px;
    padding: 15px;
    background-color: rgb(248, 247, 247);
    color: black;
    font-size: 15px;
}

.invite button:hover{
    background-color:rgba(230, 229, 229, 0.822) ;
}


/* SECTION FAQ  */

.faq {
    min-height: 400px;
    

}

.faq h5{
    font-size: 40px;
    padding-bottom: 40px;
}

.questions{
    font-size: 18px;
    font-weight: bold;
    padding: 25px 0;
    border-top: solid 1px black;
    
}

.qa:hover + .answers {
    display: block;
    
}

.qa:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.last{
    border-bottom: solid 1px black;
}

.answers{
    display: none;
    
}

.qa{
    position: relative;
}

.fa-chevron-down{
    position: absolute;
    top: 25px;
    right: 15px;
}



/* SECTION FOOTER */

footer {
    min-height: 450px;
    background-color: rgb(0, 0, 0);
    padding-top: 1px;
    color: white;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
}

.footer-container h6{
    font-size: 20px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}

.footer-container li{
    padding: 10px 0;
}


.lang {

    padding: 2% 10%;

}

.lang hr {
    width: 120px;
    margin-bottom: 30px;
}

.lang-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    color: grey;
}

