*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.header-container {
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 1px 2px white;
}

.left-header {
    display: flex;
    align-items: center;
    min-width: 20%;
    padding: 10px 10px;
}

.small-logo {
    margin-right: 10px; 
}

.left-header a, .right-header a {
    text-decoration: none;
    color: black; 
    padding: 0 15px;
}

.header-container .left-header a:hover,
.header-container .right-header a:hover {
    text-decoration: underline;
}


.right-header {
    min-width: 20%;
    padding: 5px 10px;
}


button{
    background-color: #0061ff;
    color: white;
    border: none;
    width: 60px;
    height: 30px;
}

/* Section JumboTron */
section{
    min-height: 450px;
    background-color: lightblue;
    padding-top: 1px;
    padding: 7% 15%;
    position: relative;
    margin-top: 60px;
}



.jumbo-columns{
    display: flex;

}


.text{
    max-width: 35%;
    
}

.jumbo-columns button{
    width: 180px;
    height: 35px;
    margin: 25px 0;
   
}

.fa-arrow-down{

    font-size: 40px;
    position: absolute;
    bottom: 0px;
    
}


.image .column{
    max-width: 75%;
    
}

.image-jumbo{
    width: 100%;
    margin-bottom: -200px;
}

h1{
    font-size: 70px;
    font-weight: 999;
    margin-bottom: 40px;
}




/* Section Pricing */

:root{
    --border-colors: rgba(138, 136, 136, 0.815)
}

.centered-container{
    margin: 150px 350px;

      
}



.pricing-container h2{
    font-size: 32px;
    margin-bottom: 35px;
   


}

.radio-buttons{
    margin-bottom: 50px;
}

.radio-buttons .mensile{          
    padding-right: 50px;

}  /* add the button style */



.packages{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 50px 0;
}



.packages .col{
    min-width: calc(100% / 3 - 10px);
    min-height: 400px;
    border: solid 0.5px var(--border-colors);
    

}

.singolo, .gruppo{
    margin-right: 20px;
}


.top-box{
    text-align: center;
    padding: 5px 0;
    border-bottom: solid 0.5px var(--border-colors);
}

.levels{
    padding: 20px 40px;
    position: relative;
}


.category, .user, .space, .sharing, .btn-try, .purchase-now, .silent-points{
    padding: 10px 0;
}



.per-tempo{
    color: grey;
    padding-bottom: 30px;
  }

.space{

    line-height: 20px;


}



.small-line{
    width: 50px;
    text-indent: -9px;
    position: absolute;
    left: 32px
} 

.purchase-now{
    padding: 70px 0 30px 0;
}

.purchase-now a:visited{
    color: blue;
}

.silent-points{
    padding-top: 30px;
}



.packages .levels button{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    position: absolute;
    left: 30px;

}


  .icons{
    text-indent: -9px;
    padding: 10px 0;
  }

  .levels p, .category{
    text-indent: -9px;
    
  }

  .fa-check{
    color: blue;
  }





.team{
    min-height: 100px ;
    margin-bottom: 120px;
    border: solid 0.5px black;
    position: relative;
}

.btn-ufficio-vendita{
    position: absolute;
    top: 60px;
    right: 35px;
    width: 200px;
    height: 40px;

}


.team h3{
    font-size: 30px;
    padding: 23px 0 15px 20px;
}

.team h4{

    padding: 0 0 55px 20px;

}


.team .desc{
    padding: 0 0 20px 20px;
}











.partner{
    display: flex;
    margin-bottom: 120px;
    
}

.img-sec{

}

.text-sec{

    padding: 50px;
    
}

.partner-img{
    width: 550px;
    height: 450px;
    
}

.partner h3{
    padding-bottom: 20px;
}

.partner .desc{
    padding-bottom: 30px ;
}

.btn-partner{
    border: solid 1px black;
    width: 160px;
    padding: 10px;
}






.oth-opr-columns{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    

  
    
}

.oth-opr-columns .col{

    border: solid 0.5px black;
    width: calc(100% / 3 - 10px);
    margin-bottom: 10px;

    
}

.business-imgs{
    width: 100%;
}




.info-db{

}


.clients{
    min-height: 500px;
    background-color: lightseagreen;
}

.invite{
    min-height: 200px;
    background-color: rgb(70, 112, 110);
}


.faq{
    min-height: 400px;
    background-color: rgb(121, 236, 127);
}


footer{
    min-height: 450px;
    background-color: rgb(156, 153, 153);
    padding-top: 1px;
    color: white;
    
    
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    
    
    padding: 5% 10%;
}

ul{
    list-style: none;
}


.lang{

    padding: 2% 10%;

}

.lang hr{
    width: 70px;
    margin-bottom: 15px;
}






